.Input{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #d7e6f0;
}

.Unstable{
    transition-duration: 0.4s;
    background-color: rgb(194, 67, 67);
    color: #FFF;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

input[type=number]{
    font-size: 1.5em;
}

.r3, .r6 {
    margin-top: 0.75em;
}

.c3, .c6 {
    margin-left: 0.5em;
}

.c2, .c5 {
    margin-right: 0.5em;
}